{% include 'cabecalho.html' %}

<h1 class="mb-4">Lista de Professores</h1>

<a href="/professor/form" class="btn btn-primary mb-3">Novo</a>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Disciplina</th>
            <th>Ações</th>
        </tr>
    </thead>

    <tbody>
        {% for p in lista %}
        <tr>
            <td>{{ p[0] }}</td>
            <td>{{ p[1] }}</td>
            <td>{{ p[2] }}</td>

            <td>
                <a href="/professor/editar/{{ p[0] }}" class="btn btn-primary btn-sm">Editar</a>

                <a href="/professor/remover/{{ p[0] }}"
                   onclick="return confirm('Tem certeza que deseja remover?')"
                   class="btn btn-danger btn-sm">
                    Remover
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% include 'rodape.html' %}
